{% for post in post_list %}
<div class="card" style="border: none;">
	<div class="card-body">
		<h5 class="card-title"><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a>{% if post.verse %} <span class="badge badge-primary" style="font-size: .3em; vertical-align: 80%;">{{ post.verse.display_name }}</span></h1>{% endif %}</h5>
        {% if post.character %}<p class="card-subtitle mb-2 text-muted"><em><a href="{% url 'character-detail' pk=post.character.pk %}">{{ post.character.page_name }}</a></em></p>{% endif %}
	</div>
</div>
{% endfor %}