
{% extends "characters/character_base.html" %}

{% block editchar %}
<a class="btn btn-primary btn-sm" href="{% url 'edit-bio' pk=character.pk %}" role="button">Edit Verse</a>
{% endblock %}


{% block verses_btn %}
<div class="btn-group btn-group-sm">
	<button type="button" class="btn btn-secondary">{{ character.bio_verse.display_name }}</button>
	<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
	<div class="dropdown-menu">
		{% if character.bio_char.bios and character.bio_char.bios.count > 0 %}
		<a class="dropdown-item" href="{% url 'character-detail' pk=character.bio_char.pk %}">All Verses</a>
		<div class="dropdown-divider"></div>
		{% for b in character.bio_char.bios.all %}
		<a class="dropdown-item" href="{% url 'bio-detail' pk=b.pk %}">{{ b.bio_verse.display_name }}</a>
		{% endfor %}
		<div class="dropdown-divider"></div>
		{% endif %}
		<a class="dropdown-item" href="{% url 'new-character-bio' pk=character.bio_char.pk %}">New Verse</a>
	</div>
</div>
{% endblock %}
{%  block content %}
{% block trait-tab %}
    <a class="btn btn-primary btn-sm" href="{% url 'new-character-trait' char_pk=character.bio_char.pk %}">New Trait</a>
    {% for trait in character.bio_char.traits.all %}
        {% if trait.verse == character.bio_verse %}
            <div class="card-body m-1">
                <div class="m-2"><a class="btn btn-outline-primary m-2 btn-sm" href="{% url 'edit-character-trait' char_pk=character.bio_char.pk pk=trait.pk %}">Edit</a><form action="{% url 'delete-character-trait' char_pk=character.bio_char.pk pk=trait.pk %}" method="post">{% csrf_token %}<input class="btn btn-sm btn-outline-danger" type="submit" value="Delete" /></form>
                </div>
                <div class="media-body m-3">
                    <h5 class="mt-0 card-title">{{ trait.title }}</h5>
                    <h6 class="mb-0 card-subtitle text-muted">{{ trait.content }}</h6>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{% endblock %}