{% extends "rp/base.html" %}

{% block title %}{{ character.display_name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="card card-profile col-2 mt-5 align-self-start ml-auto mr-auto" style="min-width: 250px;">
            <div class="card-header card-header-image">
                <img src="{{ character.lg_icon }}" style="max-width: 200px; background-color: lightgray;" alt=""/>
            </div>
            <div class="card-body">
                <h4 class="mb-0 card-title text-muted">{{ character.display_name }}</h4>
                <p class="card-category text-gray mb-1">{{ character.caption|lower }}</p>
                <p class="mb-0"><a href="{% url 'edit-character' pk=character.pk %}"><i class="material-icons mr-1" style="margin-bottom: -0px;">edit</i></a> <a href=""><i class="material-icons ml-1" style="margin-bottom: -0px;">delete</i></a></p>
            </div>
        </div>
        <div class="card col- col-lg-8 card-nav-tabs mt-5 p-0">
            <div class="card-header card-header-info">
                <div class="nav-tabs-navigation">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#headcanons" data-toggle="tab">Headcanons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#description" data-toggle="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#threads" data-toggle="tab">Threads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#posts" data-toggle="tab">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scripts" data-toggle="tab">Scripts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body p-0 mt-2">
                <div class="tab-content">
                    <div class="tab-pane active" id="headcanons">
                        {% include "characters/character_tab_headcanons.html" %}
                    </div>
                    <div class="tab-pane p-3" id="description">
                        {% include "characters/character_tab_description.html" %}
                    </div>
                    <div class="tab-pane" id="threads">
                        {% include "characters/character_tab_threads.html" %}
                    </div>
                    <div class="tab-pane" id="posts">
                        {% include "characters/character_tab_posts.html" %}
                    </div>
                    <div class="tab-pane" id="scripts">
                        {% include "characters/character_tab_scripts.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="hcModal" tabindex="-1" role="">
    <div class="modal-dialog modal-hc" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-rose text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">New Headcanon</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="post" action="{% url 'new-headcanon' pk=character.pk %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="verse">Verse</label>
                            <select class="form-control selectpicker" data-style="btn btn-link" id="verseSelect" name="verse">
                                <option></option>
                                {% for verse in verses %}
                                    <option value="{{ verse.pk }}">{{ verse.display_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="hc">Title</label>
                            <input type="text" class="form-control" name="hc" id="hc_input" placeholder="e.g. Birthday" />
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <input type="text" class="form-control" name="content" placeholder="e.g. September 13th" />
                        </div>
                        <input type="submit" class="btn btn-rose" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}