<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote.js"></script>
        <title>{% block title %}Title{% endblock %}</title>
        {% block favicon %}{% endblock %}
    </head>
	{% load static %}
    <body style="padding-top: 75px;">
        <div class="card" id="page">
			{% block nav %}
			<div class="navbar-dark bg-dark fixed-top" style="height: 60x;">
				<ul class="nav nav-pills" style="padding: 5px">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><img src="{% static 'rp/svg/house.svg' %}" style="height:25px; width: 25px;"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'threads' %}"><img src="{% static 'rp/svg/folded-paper.svg' %}" style="height:25px; width: 25px;"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'characters' %}"><img src="{% static 'rp/svg/id-card.svg' %}" style="height:25px; width: 25px;"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Verses</a>
					</li>
				</ul>
			</div>

			{% endblock %}
			{% block jumbotron %}
			<div class="card-body jumbotron">
				<h1 class="display-4">Title</h1>
				<p class="lead">Caption</p>
			</div>
			{% endblock %}
			{% block navbar %}
			{% endblock %}
			<div class="card-body">
				{% block content %}
				feed
				{% endblock %}
			</div>
        </div>
    </body>
</html>