<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{% block title %}Title{% endblock %}</title>
        {% block favicon %}{% endblock %}
    </head>
    <body>
        <div class="card" id="page">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
					<li class="nav-item">
						<div class="btn-group">
							<button style="border: none;" type="button" class="nav-link active dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
							<div class="dropdown-menu">
								<h6 class="dropdown-header">Create new</h6>
								<a class="dropdown-item" href="{% url 'new-character' %}">Character</a>
								<a class="dropdown-item" href="{% url 'new-verse' %}">Verse</a>
								<a class="dropdown-item" href="{% url 'new-bio' %}">Bio</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/" style="margin-left: 10px;">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'characters' %}">Characters</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'verses' %}">Verses</a>
					</li>
				</ul>
            </div>
			{% block jumbotron %}
			<div class="card-body jumbotron">
				<h1 class="display-4">Title</h1>
				<p class="lead">Caption</p>
			</div>
			{% endblock %}
			{% block navbar %}
			{% endblock %}
			<div class="card-body">
				{% block content %}
				feed
				{% endblock %}
			</div>
        </div>
    </body>
</html>