
{% extends "rp/character_base.html"  %}

{% block editchar %}
<a class="btn btn-primary btn-sm" href="{% url 'edit-bio' pk=character.pk %}" role="button">Edit Verse</a>
{% endblock %}


{% block verses_btn %}
<div class="btn-group btn-group-sm">
	<button type="button" class="btn btn-secondary">{{ character.bio_verse.display_name }}</button>
	<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
	<div class="dropdown-menu">
		{% if character.bio_char.bios and character.bio_char.bios.count > 0 %}
		<a class="dropdown-item" href="{% url 'character-detail' pk=character.bio_char.pk %}">All Verses</a>
		<div class="dropdown-divider"></div>
		{% for b in character.bio_char.bios.all %}
		<a class="dropdown-item" href="{% url 'bio-detail' pk=b.pk %}">{{ b.bio_verse.display_name }}</a>
		{% endfor %}
		<div class="dropdown-divider"></div>
		{% endif %}
		<a class="dropdown-item" href="{% url 'new-character-bio' pk=character.bio_char.pk %}">New Verse</a>
	</div>
</div>
{% endblock %}