{% extends "rp/base.html" %}
{% block title %}{{ bio.display_name }}{% endblock %}
{% block jumbotron %}
<div class="card-body jumbotron">
	<div class="media">
		<img id="lg-icon" class="mr-3" src="{{ bio.lg_icon }}" alt="" style="min-width: 100px; width:200px; border-radius: 100px; background-color: lightgray;"/>
		<div class="media-body">
			<h1 id="char-name" class='display-4'>{{ bio.display_name }}</h1>
			<p id="char-caption" class="lead">{{ bio.caption }}</p>
			<p class="small">{{ bio.desc }}</p>
			<a class="btn btn-primary btn-sm" href="{% url 'edit-bio' pk=bio.pk %}" role="button">Edit Verse</a>
			<div class="btn-group btn-group-sm">
				<button type="button" class="btn btn-secondary">{{ bio.verse.display_name }}</button>
			  	<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
			 	<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'character-detail' pk=bio.character.pk %}">All Verses</a>
					<div class="dropdown-divider"></div>
					{% for b in bio.character.bios.all %}
					<a class="dropdown-item" href="{% url 'bio-detail' pk=b.pk %}">{{ b.verse.display_name }}</a>
					{% endfor %}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'new-character-bio' pk=bio.character.pk %}">New Verse</a>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block navbar %}
<div class="card-header" style="margin-top: -32px;">
<ul class="nav nav-pills" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Threads</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" id="pills-trait-tab" data-toggle="pill" href="#pills-trait" role="tab" aria-controls="pills-contact" aria-selected="false">Traits</a>
  </li>
</ul>
</div>
{% endblock %}
{% block content %}
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">tba</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">tba</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">tba</div>
	<div class="tab-pane fade" id="pills-trait" role="tabpanel" aria-labelledby="pills-trait-tab">
		{% block traits %}
			{% include "rp/trait_group.html" with traits=bio.traits.all %}
		{% endblock %}
	</div>
</div>
{% endblock %}
