{% extends "rp/base.html" %}
{% block title %}{{ character.display_name }}{% endblock %}
{% block jumbotron %}
<div class="card-body jumbotron">
	<div class="media">
		<img id="lg-icon" class="mr-3" src="{{ character.lg_icon }}" alt="" style="min-width: 100px; width:200px; border-radius: 100px; background-color: lightgray;"/>
		<div class="media-body">
			<h1 id="char-name" class='display-4'>{{ character.display_name }}</h1>
			<p id="char-caption" class="lead">{{ character.caption }}</p>
			<p class="small">{{ character.desc }}</p>
			{% if character.character %}
			<a class="btn btn-primary" href="{% url 'edit-bio' pk=character.pk %}" role="button">Edit</a>
			{% else %}
            <a class="btn btn-primary" href="{% url 'edit-character' pk=character.pk %}" role="button">Edit</a>
			{% endif %}
			<div class="btn-group">
				{% if character.bios %}
				<button type="button" class="btn btn-secondary">All Verses</button>
				{% elif character.character %}
				<button type="button" class="btn btn-secondary">{{ character.verse.display_name }}</button>
				{% endif %}
			  	<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
			 	<div class="dropdown-menu">
					{% if character.bios and character.bios.count > 0 %}
					<a class="dropdown-item" href="{% url 'character-detail' pk=character.pk %}">All Verses</a>
					<div class="dropdown-divider"></div>
					{% for b in character.bios.all %}
					<a class="dropdown-item" href="{% url 'bio-detail' pk=b.pk %}">{{ b.verse.display_name }}</a>
					{% endfor %}
					<div class="dropdown-divider"></div>
					{% elif character.character.bios and character.character.bios.count > 0 %}
					<a class="dropdown-item" href="{% url 'character-detail' pk=character.character.pk %}">All Verses</a>
					<div class="dropdown-divider"></div>
					{% for b in character.character.bios.all %}
					<a class="dropdown-item" href="{% url 'bio-detail' pk=b.pk %}">{{ b.verse.display_name }}</a>
					{% endfor %}
					<div class="dropdown-divider"></div>
					{% endif %}
					{% if character.character %}
					<a class="dropdown-item" href="{% url 'new-character-bio' pk=character.character.pk %}">New Verse</a>
					{% else %}
					<a class="dropdown-item" href="{% url 'new-character-bio' pk=character.pk %}">New Verse</a>
					{% endif %}
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block navbar %}
<div class="card-header" style="margin-top: -32px;">
<ul class="nav nav-pills" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Threads</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" id="pills-trait-tab" data-toggle="pill" href="#pills-trait" role="tab" aria-controls="pills-contact" aria-selected="false">Traits</a>
  </li>
</ul>
</div>
{% endblock %}
{% block content %}
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">tba</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">tba</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">tba</div>
	<div class="tab-pane fade" id="pills-trait" role="tabpanel" aria-labelledby="pills-trait-tab">{% include "rp/trait_group.html" with traits=character.traits.all %}</div>
</div>
{% endblock %}
