{% extends "rp/base.html" %}
{% block title %}{{character.display_name}}{% endblock %}
{% block favicon %}{% endblock %}
{% block jumbotron %}
<div class="card-body jumbotron">
    <div class="media">
        <img id="lg-icon" class="mr-3" src="{{ character.lg_icon }}" alt="" style="width:200px; border-radius: 50%; background-color: lightgray;"/>
        <div class="media-body">
            <h1 id="char-name" class='display-4'>{{ character.display_name }}</h1>
            <p id="char-caption" class="lead">{{ character.caption }}</p>
            <p class="small">{{ character.desc }}</p>
            {% block editchar %}<a class="btn btn-primary btn-sm" href="{% url 'edit-character' pk=character.pk %}" role="button">Edit Character</a>{% endblock %}
            {% block verses_btn %}
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-secondary">All Verses</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                <div class="dropdown-menu">
                    {% if character.bios and character.bios.count > 0 %}
                    <a class="dropdown-item" href="{% url 'character-detail' pk=character.pk %}">All Verses</a>
                    <div class="dropdown-divider"></div>
                        {% for b in character.bios.all %}
                        <a class="dropdown-item" href="{% url 'bio-detail' pk=b.pk %}">{{ b.bio_verse.display_name }}</a>
                        {% endfor %}
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'new-character-bio' pk=character.pk %}">New Verse</a>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block navbar %}
<div class="card-header" style="margin-top: -32px;">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="false">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-post-tab" data-toggle="pill" href="#pills-post" role="tab" aria-controls="pills-post" aria-selected="false">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-thread-tab" data-toggle="pill" href="#pills-thread" role="tab" aria-controls="pills-thread" aria-selected="false">Threads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-trait-tab" data-toggle="pill" href="#pills-trait" role="tab" aria-controls="pills-contact" aria-selected="false">Traits</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">feed</div>
    <div class="tab-pane fade" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">tba</div>
    <div class="tab-pane fade" id="pills-thread" role="tabpanel" aria-labelledby="pills-thread-tab">{% include "rp/../../../threads/templates/threads/thread_group.html" with thread_list=character.get_threads %}</div>
    {% block trait-tab %}
        <div class="tab-pane fade" id="pills-trait" role="tabpanel" aria-labelledby="pills-trait-tab">
        <a class="btn btn-primary btn-sm" href="{% url 'new-character-trait' char_pk=character.pk %}">New Trait</a>
        {% for trait in character.traits.all %}
        <div class="card-body m-1">
            <div class="m-2"><a class="btn btn-outline-primary m-2 btn-sm" href="{% url 'edit-character-trait' char_pk=character.pk pk=trait.pk %}">Edit</a><form action="{% url 'delete-character-trait' char_pk=character.pk pk=trait.pk %}" method="post">{% csrf_token %}<input class="btn btn-sm btn-outline-danger" type="submit" value="Delete" /></form>
            </div>
            <div class="media-body m-3">
                <h5 class="mt-0 card-title">{{ trait.title }}</h5>
                <h6 class="mb-0 card-subtitle text-muted">{{ trait.content }}</h6>
            </div>
        </div>
    {% endfor %}
    {% endblock %}
    </div>
    </div>
{% endblock %}
