{% extends "rp/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block jumbotron %}
    <div class="card-body jumbotron">
        <h1 class="display-4">{{ post.title }}{% if post.verse %} <span class="badge badge-primary" style="font-size: .3em; vertical-align: 80%;">{{ post.verse.display_name }}</span></h1>{% endif %}
        <a class="btn btn-primary" href="{% url 'edit-post' pk=post.pk %}" role="button">Edit</a>
    </div>
{% endblock %}
{% block content %}
<div class="card"  style="width: 600px; margin: auto;">
    {% if post.character %}<div class="card-header"><a href="{% url "character-detail" pk=post.character.pk %}">{{ post.character.page_name }}</a></div>{% endif %}
    <div class="card-body">{{ post.content | safe }}</div>
    <div class="card-footer"><small>{{ post.created }}</small></div>
</div>
{% endblock %}