{% for reply in thread.replies.all|dictsort:"created" %}
<div class="media" style="max-width: 750px;">
  <img class="mr-3 mt-3" src="{{ reply.character.sm_icon }}" alt="" style="width: 100px; height: 100px; background-color: lightgray;">
  <div class="media-body card" style="border: none;">
      <div class="card-header" style="margin-bottom: -15px; background-color: white;">
          <small>
              <strong class="card-link"><a href="{% url 'character-detail' pk=reply.character.pk %}">{{ reply.character.page_name }}</a></strong>
              <em class="card-link">{{ reply.created }}</em>
              <a class="badge badge-sm badge-primary ml-1" href="{% url 'edit-reply' thread_pk=reply.parent.pk pk=reply.pk %}">Edit</a>
              <a class="badge badge-sm badge-danger" href="{% url 'edit-reply' thread_pk=reply.parent.pk pk=reply.pk %}">Delete</a>
{#              <form action="{% url 'delete-reply' thread_pk=reply.parent.pk pk=reply.pk %}" method="post">#}
{#                  {% csrf_token %}#}
{#                  <input class="btn btn-primary btn-sm" type="submit" value="Delete" style="display: inline-block;">#}
{#              </form>#}
          </small>
      </div>
      <div class="card-body">
          {{ reply.content | safe }}
      </div>
  </div>
</div>
{% endfor %}