{% for reply in thread.replies.all|dictsort:"created" %}
<div class="media" style="max-width: 750px; margin: auto;">
  <img class="mr-3 mt-3" src="{{ reply.character.sm_icon }}" alt="" style="width: 100px; height: 100px; background-color: lightgray;">
  <div class="media-body card" style="border: none;">
      <div class="card-header" style="margin-bottom: -15px; background-color: white;">
          <small><strong class="card-link">{{ reply.character.display_name }}</strong><em class="card-link">{{ reply.created }}</em> <a href="{% url 'edit-reply' thread.pk reply.pk %}" class="card-link">Edit</a> <a href="{% url 'delete-reply' thread_pk=thread.pk reply_pk=reply.pk %}" class="card-link">Delete</a></small>
      </div>
      <div class="card-body">
          {{ reply.content | safe }}
      </div>
  </div>
</div>
{% endfor %}
