{% for reply in thread.replies.all|dictsort:"created" %}
<div class="row" style="width: 775px;">
    <div class="col- mr-1 mt-1 " style="width: 100px;">
        <img src="{{reply.character.sm_icon}}" alt="" class="text-center" style="height:100px; width:100px; min-width:100px; min-height:100px; background-color: gray;" />
        <p class="text-right"><small><a href="{% url 'character-detail' pk=reply.character.pk %}">{{ reply.character.page_name }}</a></small></p>
    </div>
    <div class="card col-m" style="width: 600px; border: none;">
        <div class="card-body text-center" style="padding: 0px; border: none; margin-bottom: -15px; background-color: none; color: gray;">
            <small><strong class="card-link">{{ reply.character.display_name }}</strong><em class="card-link">{{ reply.created }}</em> <a href="{% url 'edit-reply' thread.pk reply.pk %}" class="card-link">Edit</a>
            <a href="{% url 'delete-reply' thread_pk=thread.pk reply_pk=reply.pk %}" class="card-link">Delete</a></small>
        </div>
        <div class="card-body" style="width: 576px; margin: 0px auto -25px; vertical-align: top;">{{ reply.content | safe }}</div>
    </div>
</div>
<hr>
{% endfor %}
