{%  extends "rp/base.html" %}
{% block title %}{{ script.title }}{% endblock %}
{% block jumbotron %}
    <div class="card-body jumbotron">
        <h1 class="display-4">{{ script.title }}{% if script.verse %} <span class="badge badge-primary" style="font-size: .3em; vertical-align: 80%;">{{ thread.verse }}</span>{% endif %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="card" style="border:none;">
        {% include "rp/line_group.html" %}
        <form action="{% url "new-line" pk=script.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="script" value="{{ script.pk }}"/>
            <div class="card">
                <div class="card-body row">
                    <div class="col-4">
                        <p class="form-control text-right">Character: {{ line_form.character }}</p>
                        <p class="form-control text-right">Parenthetical: {{ line_form.parenthetical }}</p>
                    </div>
                    <div class="col-6">
                        <p class="form-control">Dialogue: {{ line_form.dialogue }}</p>
                        <p class="form-control">Action: {{ line_form.action }}</p>
                    </div>
                    <input type="submit" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}