{%  extends "rp/base.html" %}
{% block title %}{{ script.title }}{% endblock %}
{% block jumbotron %}
    <div class="card-body jumbotron">
        <h1 class="display-4">{{ script.title }}{% if script.verse %} <span class="badge badge-primary" style="font-size: .3em; vertical-align: 80%;">{{ thread.verse }}</span>{% endif %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="card" style="border:none;">
        {% include "rp/line_group.html" %}
        <form action="{% url "new-line" pk=script.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="script" value="{{ script.pk }}"/>
            <div class="card">
                <div class="card-body row">
                    <div class="col-4">
                        {{ line_form.character }}
                        {{ line_form.parenthetical }}
                    </div>
                    <div class="col-6">
                        {{ line_form.dialogue }}
                        {{ line_form.action }}
                    </div>
                    <input type="submit" />
                </div>
            </div>
        </form>
    </div>
    <script>
    $(document).ready(function() {
        $("#id_character option:first").text('Character (e.g., Phoebe Bones-Prewett):');
    });
    </script>
{% endblock %}