{% extends "rp/base.html" %}

{% block title %}{{ verse.display_name }}{% endblock %}

{% block jumbotron %}
<div class="card-body jumbotron">
	<h1 class="display-4"> {{ verse.display_name }}</h1>
	<p class="lead">{{ verse.caption }}</p>
	<p>{{ verse.desc }}</p>
	<a class="btn btn-outline-primary" href="{% url 'edit-verse' pk=verse.pk %}">Edit</a>
	<a class="btn btn-outline-primary" href="{% url 'new-verse-bio' pk=verse.pk %}">Add Character</a>
</div>
{% endblock %}
{% block navbar %}
<div class="card-header" style="margin-top: -32px;">
<ul class="nav nav-pills" id="pills-tab" role="tablist">
	<li class="nav-item">
    <a class="nav-link active" id="pills-character-tab" data-toggle="pill" href="#pills-character" role="tab" aria-controls="pills-character" aria-selected="false">Characters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-post-tab" data-toggle="pill" href="#pills-post" role="tab" aria-controls="pills-post" aria-selected="false">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-thread-tab" data-toggle="pill" href="#pills-thread" role="tab" aria-controls="pills-thread" aria-selected="false">Threads</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" id="pills-trait-tab" data-toggle="pill" href="#pills-trait" role="tab" aria-controls="pills-trait" aria-selected="false">Traits</a>
  </li>
</ul>
</div>
{% endblock %}
{% block content %}
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-character" role="tabpanel" aria-labelledby="pills-character-tab">{% include "rp/bio_group.html" %}</div>
  <div class="tab-pane fade" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">tba</div>
  <div class="tab-pane fade" id="pills-thread" role="tabpanel" aria-labelledby="pills-thread-tab">{% include "rp/thread_group.html" with thread_list=verse.threads.all %}</div>
	<div class="tab-pane fade" id="pills-trait" role="tabpanel" aria-labelledby="pills-trait-tab">

	</div>
</div>
{% endblock %}
