{% extends "rp/base.html" %}

{% block title %}{{ verse.display_name }}{% endblock %}

{% block jumbotron %}
<div class="card-body jumbotron">
	<h1 class="display-4"> {{ verse.display_name }}</h1>
	<p class="lead">{{ verse.caption }}</p>
	<p>{{ verse.desc }}</p>
	<a class="btn btn-outline-primary" href="{% url 'edit-verse' pk=verse.pk %}">Edit</a>
	<a class="btn btn-outline-primary" href="{% url 'new-verse-bio' pk=verse.pk %}">Add Character</a>
</div>
{% endblock %}
{% block content %}
	{% include "rp/bio_group.html" %}
{% endblock %}