<div class="card col-md-6 ml-auto mr-auto pl-lg-4 pr-lg-4 pr-md-3 pl-md-3" style="margin-bottom: 50px;">
    <div class="card-header card-header-image">
        <img class="img" src="{{ reply.character.sm_icon }}" style="width: 100px; height: 100px;"/>
        <h4 class="card-title" style="margin-left: 100px;"><a class="btn btn-sm btn-default" href="{% url 'character-detail' pk=reply.character.pk %}">{{ reply.character.display_name }}</a></h4>
    </div>

    <div class="card-body" style="margin-bottom: -10px;">
        {{ reply.content|safe }}
    </div>
    <hr class="m-0" />
    <div class="card-footer">
        <div class="stats">{{ reply.created }} <a href="{% url 'edit-reply' thread_pk=thread.pk pk=reply.pk %}"><i class="material-icons align-top ml-2 mr-2">edit</i></a></div>
    </div>
</div>