{% extends "rp/base.html" %}
{% load static %}
{% block title %}{{ thread.title }}{% endblock %}
{% block navbar %}{% include 'threads/thread_navbar.html' %}{% endblock %}
{% block content %}
    <div id="top" class="header text-center mt-4 mb-5 p-2">
        <h1 class="title">{{ thread.title }}</h1>
        <p class="subtitle">{{ thread.get_characters_str|lower }} <a href="{% url 'edit-thread' pk=thread.pk %}"><i class="material-icons align-top">edit</i></a></p>
    </div>
    {% for reply in thread.replies.all|dictsort:"created" %}
        {% include "threads/reply.html" %}
    {% endfor %}
    <div class="card col-md-6 ml-auto mr-auto pl-lg-4 pr-lg-4 pr-md-3 pl-md-3" style="border: none;">
        <div class="card-body" id="bottom">
            <form method="post" action="{% url 'new-reply' pk=thread.pk %}">
                {% csrf_token %}
                <input type="hidden" name="parent" value="{{ thread.pk }}" />
                <div>Character: {{ form.character }}</div>
                <br>
                {{ form.content }}
                <div><input class="btn btn-primary btn-sm" type="submit" value="Submit" /></div>
            </form>
        </div>
    </div>
{% include 'rp/confirm_delete.html' %}
{% endblock %}