{% for thread in thread_list %}
<div class="card ml-auto mr-auto" style="border: none; max-width: 300px;">
    <div class="card-header card-header-text card-header-primary">
        <div class="card-text">
            <h4 class="card-title"><a href="{% url 'thread-detail' pk=thread.pk %}">{{ thread.title }}</a> </h4>
        </div>
    </div>
	<div class="card-body mt-2">
        <h6 class="card-subtitle text-muted">{{ thread.caption }}</h6>
        {% if thread.verse %}<p class="category">{{ thread.verse.display_name }}</p>{% endif %}
	</div>
</div>
{% endfor %}