<div class="card-group">
	{% for bio in verse.bios.all %}
	<div class="card m-2" style="max-width: 20rem; min-width: 20rem; border: none;">
		<div class="media">
			{% if bio.sm_icon != '' %}
                <img src="{{ bio.sm_icon }}" class="mr-3" style="width: 100px; height: 100px; background-color: lightgray;" alt=""/>
            {% else %}
                <img src="{{ bio.char.sm_icon }}" class="mr-3" style="width: 100px; height: 100px; background-color: lightgray;" alt=""/>
            {% endif %}
			<div class="media-body">
				<h5 class="mt-0 card-title"><a href="{% url 'bio-detail' pk=bio.id %}">{{ bio.character.page_name }}</a></h5>
				<h6 class="mb-0 card-subtitle text-muted">{{ bio.display_name }}</h6>
			</div>
		</div>
	</div>
	{% endfor %}
</div>