{% extends "rp/base.html" %}
{% block title %}{{ bio.display_name }}{% endblock %}
{% block jumbotron %}
<div class="card-body jumbotron">
	<div class="media">
		<img id="lg-icon" class="mr-3" src="{{ bio.lg_icon }}" alt="" style="min-width: 100px; width:200px; border-radius: 100px; background-color: lightgray;"/>
		<div class="media-body">
			<h1 id="char-name" class='display-4'>{{ bio.display_name }}</h1>
			<p id="char-caption" class="lead">{{ bio.caption }}</p>
			<p id="char-desc">{{ bio.desc }}</p>
            <a class="btn btn-primary" href="{% url 'edit-bio' pk=bio.pk %}" role="button">Edit</a>
			<div class="btn-group">
				<button type="button" class="btn btn-secondary">{{ bio.ver.display_name }}</button>
			  	<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
			 	<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'character-detail' pk=bio.char.pk %}">All Verses</a>
					{% if bio.char.bios %}
					<div class="dropdown-divider"></div>
					{% for b in bio.char.bios.all %}
					<a class="dropdown-item" href="{% url 'bio-detail' pk=b.pk %}">{{ b.verse.display_name }}</a>
					{% endfor %}
					{% endif %}
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
