{% extends "rp/base.html" %}
{% block title %}{{ faceclaim.name }} icons{% endblock %}
{% block content %}
    <div class="header text-center mt-4 mb-0 p-2">
        <h1 class="title">{{ faceclaim.name }}</h1>
        <p class="lead">
            {% for tag in faceclaim.get_all_tags %}
                #{{ tag }}
            {% endfor %}
        </p>
        <h4 class="card-title"><a class href="#" data-toggle="modal" data-target="#hcModal"><i class="material-icons mr-2">cloud_upload</i> New Icon</a></h4>
    </div>
    <div class="content card pt-4 pb-4 mt-0">
        <div class="row justify-content-center">
            {% for icon in faceclaim.icons.all %}
                {% include "icons/icon.html" %}
            {% endfor %}
        </div>
    </div>
{% include 'rp/confirm_delete.html' %}
<div class="modal fade" id="hcModal" tabindex="-1" role="">
    <div class="modal-dialog modal-hc" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-rose text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">New Headcanon</h4>
                    </div>
                </div>
                <div class="modal-body">
                    {% include "icons/modal_icon_create.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}