{% extends "rp/base.html" %}
{% block title %}Icons{% endblock %}
{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="card" style="width: 20rem; margin: auto;">
        <div class="nav card-body">
            <a class="btn btn-primary" href="{% url 'new-icon' %}">New Icon</a>
        </div>
        <ul class="nav flex-sm-column">
            {% for fc in fcs %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fc-icons' name=fc.name|slugify %}">{{ fc.name }}</a>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link disabled">Unidentified</a>
            </li>
        </ul>
    </div>
    {% include 'rp/confirm_delete.html' %}
{% endblock %}