{% extends "rp/base.html" %}
{% block title %}Icons{% endblock %}

{% block content %}
    <div class="card card-plain text-center border-white mt-5">
        <h2 class="card-title mb-0 mt-2"><a class href="#" data-toggle="modal" data-target="#fcModal">Add Face Claim <i class="material-icons">add_circle_outline</i></a></h2>
    </div>
    <div class="container card">
        <div class="row">
        {% for fc in fcs|dictsort:"name" %}
            <div class="card card-plain card-profile mt-3 mb-0 col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card-header card-header-image">
                    <img src="{{ fc.icons.last.image.url }}" style="width: 100px; height: 100px;" alt=""/>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 card-subtitle text-muted"><a href="{% url 'faceclaim-detail' pk=fc.pk %}">{{ fc.name }}</a></h6>
                    <p class="card-category mb-0 mt-1"><span class="badge badge-primary mr-1">{{ fc.icons.count }}</span> icons</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="fcModal" tabindex="-1" role="">
        <div class="modal-dialog modal-fc" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <div class="card-header card-header-rose text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </button>
                            <h4 class="card-title">New Face Claim</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        {% include "icons/faceclaim_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}